<a href={% url 'tinymix:index' %}> back to index</a>

<h1>{{ config.name }}</h1>
{{ config.created_date }}

<form action="{% url 'tinymix:config/reload' config.id %}" method="post" onsubmit="return disableButtons(this);">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% csrf_token %}
    <input type=text
           name="ip"
           value={{ ipaddr }}>
    <input type="submit" name="download" value="Download"  >
    <input type="submit" name="upload" value="Upload">
    <input type="submit" name="save" value="Save">
</form>

<table>
    <tr>
        <th>Control name</th>
        <th>Config value</th>
        <th>Current value</th>
    </tr>
{% for control in config.control_set.all %}
    <tr>
        <td><a href={% url 'tinymix:control' control.id %}>{{ control.get_label }}</a></td>
        <td align="right">{{ control.get_label_stored }}</td>
        <td>{{ control.get_label_readback }}</td>
    </tr>
{% endfor %}

</table>

<script type="text/javascript">
    function disableButtons(form)
    {
        form.download.value = "Wait..."
        form.upload.value = "Wait..."
        form.save.value = "Wait..."
        return true;
    }
</script>
