<h1>{{ control.control_name }}</h1>
<h2>{{ control }}</h2>

<h3> Apply tinymix command </h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'tinymix:control/publish' control.id %}" method="post">
{% csrf_token %}
{% for value in control.value_set.all %}
    <input type="radio"
           name="value_pk"
           {% if control.value_stored == value %} checked {% endif %}
           value="{{ value.id }}"
           id="value{{ forloop.counter }}">
    <label for="value{{ forloop.counter }}"> {{ value.get_label }}</label>
    <br>
{% endfor %}
    <input type=text
           name="ip"
           value={{ ipaddr }}>
<input type="submit" name="apply" value="Apply">
<input type="submit" name="apply_and_save" value="Apply & Save in config">
</form>


<h3> Lookup tinymix command </h3>
<ul>

{% for value in control.value_set.all %}
    <li><a href={% url 'tinymix:value' value.id %}>{{ value }}</a></li>
{% endfor %}
</ul>

