<h1>{{ control.control_name }}</h1>
<h2>{{ control }}</h2>

<h3> Apply tinymix command </h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'tinymix:control_edit' control.id %}" method="post">
{% csrf_token %}
{% for value in control.value_set.all %}
    <input type="radio"
           name="newvalue"
           id="newvalue{{ forloop.counter }}"
           value="{{ value.id }}">

    <label for="newvalue{{ forloop.counter }}"> {{ value }}</label>
    <br>
{% endfor %}
<input type="submit" value="Apply">


<h3> Lookup tinymix command </h3>
<ul>

{% for value in control.value_set.all %}
    <li><a href={% url 'tinymix:value' value.id %}>{{ value }}</a></li>
{% endfor %}
</ul>

