{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tinymix/style.css' %}">

<h1>New config</h1>

<form action="{% url 'tinymix:config/new' %}" method="post" onsubmit="return disableButtons(this);">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% csrf_token %}
    <input type=text
           name="ip"
           value={{ ipaddr }}>
    <input type=text
           name="name"
           value="PutConfigNameHere">
    <input type="submit"
           name="download"
           value="Download">
</form>

<h1>Load config</h1>

{% if latest_configs_list %}
    <ul>
    {% for config in latest_configs_list %}

        <li><a href={% url 'tinymix:config' config.id %}>{{ config.name }}</a></li>
        <!-- <li><a href="/tinymix/{{ config.id }}/">{{ config.name }}</a></li> -->
    {% endfor %}
    </ul>
{% else %}
    <p>No Configs available - load one!</p>
{% endif %}

<script type="text/javascript">
    function disableButtons(form)
    {
        form.download.value = "Wait..."
        return true;
    }
</script>